@import "./components/start-page/style.scss";
@import "./components/producer/style.scss";
@import "./components/operator/style.scss";
// @import "./components/form/styles.scss";
.App {
  text-align: center;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'DIN-Regular', 'Arial Narrow'  sans-serif;
  font-size: 12px; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'DIN-Regular';
  src: url('./fonts/DIN-Regular.woff2') format('woff2'),
      url('./fonts/DIN-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN-Bold';
  src: url('./fonts/DIN-Bold.woff2') format('woff2'),
      url('./fonts/DIN-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  min-height: 544px;
  box-shadow: 0 3px 1px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.1), 0 6px 3px 0 rgba(0,0,0,.05);
  top: 113px;
  position: absolute;
  border-radius: 5px;
  font-family: 'DIN-Regular', 'Arial Narrow'  sans-serif;
  font-size: 12px; 
  margin: 15px;
}

.ant-layout.wrapper {
  background: #fff;
  min-height: 544px;
}

$primary: linear-gradient(45deg,#0f94d6,#1fd1d2);
